{% extends "_layouts/main" %}
{% import "_macros/slider" as macros %}

{% block header %}
    {{ macros.slider }}
{% endblock %}
    

{% block content %}
    <h1 class="my-4">Meine Projekte</h1>
    <!-- Marketing Icons Section -->
    <div class="row">
    {% for i in 0..2 %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Projekt {{i+1}}</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->
{% endblock %}