{% extends "_layouts/main" %}
{% import "_macros/slider" as macros %}

{% block header %}
    {{ macros.slider }}
{% endblock %}
    

{% block content %}
    {{entry.text}}



{# Focal Points abrufen und anwenden #}
  {% set image = entry.image.one() %}
  {% if image.hasFocalPoint %}
    {% set position = image.getFocalPoint() %}
    {% set position = position|merge({
      x: position.x * 100 ~ '%',
      y: position.y * 100 ~ '%',
    }) %}

    {% set position = position|join(" ") %}
  {% else %}
    {% set position = '50% 50%' %}
  {% endif %}

  <div class='background' style='background-image:url( {{ image.getUrl() }});background-position:{{ position }};height: 1000px'></div>

  {# Focal Points ENDE #}

  {# Splitscreen Nachrichten Section #}
  <hr>
  <div class="split--container">
    <div class="split--container-box" id="box-image"> 
    </div>
    <div class="split--container-box" id="box-text">
      <h3 style="width:50%">Text zum Bild</h3>
    </div>
  </div>
  <hr>
  {# Splitscreen Nachrichten Section ENDE #}



    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div>
    <!-- /.row -->
{% endblock %}