{# Back End Plug in Template #}

{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set title = 'Bloggy, the Blog Plugin' %}

{# Content Block #}
{% block content %}
    {# Intro Tab #}
    <div id="#intro">
        {% set markdownText = craft.app.plugins.getPlugin("bloggy").settings.markdownText %}
    </div>

    adwna.dna.
{% endblock %}